.footer-simple {
  background-color: #222;
  color: #ccc;
  text-align: center;
  padding: 10px 0;
  font-family: 'Arial', sans-serif;
  font-size: 14px;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2);
  margin-top: 2px;
}
